.footer_main{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    display: flex;
    color: white;
    // background-color: yellow;
    background: linear-gradient(to right, #19242C, #1e2a32)
}
.footer_main{
    .foot_left,.foot_right{
        width: 50%;
        padding: 15px;
    }
    .foot_left{
        h3{
            font-weight: 900;
            padding-left: 10%;
            font-size: 30px;
            color: #52489C;
        }
        p{
            padding-left: 10%;
            font-size: 13px;
        }
    }
    .foot_right{
        h3{
            font-weight: 900;
            padding-left: 10%;
            font-size: 30px;
            color: #52489C;
        }
        .foot-icon{
            margin-right: 10px;
            color: #52489C;
        }
        .foot-icon-mail{
            margin-right: 7px;
            font-size: 19px;
            color: #52489C;
        }
        .location-icon{
            margin-right: 7px;
            font-size: 19px;
            color: #52489C;
        }
        p{
            padding-left: 10%;
            font-size: 13px;
            // margin-bottom: 0 !important;
        }
        .social-icons{
            padding-left: 10%;
        }
        .social-icons{
           .socialIcons{
            color: #19242C;
            margin-right: 10px;
            background-color: #52489C;
            padding: 5px;
            font-size: 30px;
            transition: .3s;
           }
           .socialIcons:hover{
            background-color: white !important;
           
        }
        }
    }

   
}
@media(min-width:300px) and (max-width:575.98px){
    .footer_main{
        display: inline !important;
    }
    .footer_main{
        .foot_left,.foot_right{
            background: linear-gradient(to right, #19242C, #1e2a32);
            width: 100%;
        } 
        .foot_left{
            h3{
                padding-left: 0%;
                font-size: 25px;
            }
            p{
                padding-left: 0%;
                font-size: 10px;
                text-align: justify;
            }
        }
        
    }
    .foot_right{
        h3{
            font-weight: 900;
            padding-left: 0% !important;
            font-size: 25px !important;
            color: #f9977b;
        }
        .foot-icon{
            margin-right: 10px;
            color: #f9977b;
        }
        .foot-icon-mail{
            margin-right: 7px;
            font-size: 19px;
            color: #f9977b;
        }
        .location-icon{
            margin-right: 7px;
            font-size: 19px;
            color: #f9977b;
        }
        p{
            padding-left: 0% !important;
            font-size: 10px !important;
            // margin-bottom: 0 !important;
        }
        .social-icons{
            padding-left: 0% !important;
        }
        .social-icons{
          
           .socialIcons{
            color: #19242C;
            margin-right: 10px;
            background-color: #f9977b;
            padding: 5px;
            font-size: 30px;
            transition: .2s;
           }
           
        }
    }
}